html{
	position:relative;
	min-height: 100%;
}
body{
	width:960px;
	background-image: url("../images/concrete-texture.png");
	margin:0 auto;
	min-height:1000px;
}
nav{
	float:right;
	width:30%;
	color:#777777;
	text-align: center;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 100px;

}
.PageHeader{
	background:#ffffff;
	border-style:solid;
	border-color:#cccccc;
	border-width: 2px;
	max-width:100%;
	height:100px;
	margin:0 auto;
	


}
.Logo{
	background-color: #4aaaa5;
	color:#ffffff;
	text-align: center;
	font-family: 'Georgia', 'Times', Times New Roman, serif;
	font-weight:bold;
	font-size:24px;
	width:300px;
	float:left;
	line-height: 100px;
}
.link{
	margin:0 10px;
	color:#777777;
}
section{
	background-color:#ffffff;
	border-style:solid;
	border-color:#dddddd;
	border-width: 1px;
	width:648px;

}
aside{
	background-color:#ffffff;
	border-style:solid;
	border-color:#dddddd;
	border-width: 1px;
	width:270px;
	float:right;
	margin:20px auto;

}
.AboutSection, .PortfolioSection, .ContactSection{
	float:left;
	color:#777777;
	margin:20px auto;
} 
a:link{
	text-decoration: none;
}
.SectionHeader{
	color:#4aaaa5;
	font-family: 'Georgia', 'Times', "Times New Roman", serif;
	font-weight:bold;
	font-size:24px;
	margin:20px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#cccccc;
}
#ProfilePic{
	border-radius: 6px;
	margin:0 20px 20px 20px;
	float:left;
}
#Bio{
	color:#777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin:20px;
	line-height: 20px;
}
.SocialLinks{
	width:50px;
	height:50px;
	float:left;
	margin:0 10px 40px 10px;
	
}
.Links{
	margin:auto;
	width:210px;
	
}
button{
	background:#4aaaa5;
	color:#ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	height:40px;
	font-weight: bold;
	width:80px;
	
}
form{
	margin:20px;
}
.entry{
	margin:20px 0;
}
input{
	color:#777777;
	width:100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-left:10px
	margin:20px 0;
	height:25px;
	padding:0 -20px;
}
#MessageInput{
	height:250px;
	color:#777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width:100%;
	max-width:100%;
	padding:0 -20px 0;
	
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    height:auto;
}

div.gallery:hover {
    border: 1px solid #4aaaa5;
}

div.gallery img {
    width: 100%;
    height: auto;
	position:relative;

}

div.desc {
    text-align: center;
    background-color: #4aaaa5;
    color:#ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	
}
footer {
    position: relative;
    bottom:0;
    height: 100px;
    width: 100%;
    background-color: #777777;
    color:#cccccc;
	clear:both;
	text-align:center;
	line-height: 100px;
	border-top-color:#4aaaa5;
	border-top-style:solid;
	border-width: 4px;
	margin:20px auto;
}

